.menu {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: flex;
  z-index: 100;
  top: 0%;
  padding: 12px;
  transition: all 300ms ease;
  flex-direction: column;
}

.menu-active {
  right: 0%;
}

.menu-closed {
  right: -200%;
}

.title {
  width: 100%;
  height: 100%;
}

.nav-items {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 15px;
}
